<div class="containers-overview">
  <div class="container-detail">
    <div class="icon" style="color: red;font-size: 30px;width: 100px;float: left;position: relative;left: 15px">
      <i class="fa fa-cube" aria-hidden="true"></i>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>PONU8127580</span>
      </div>
      <div class="content">
        <span>40HQ</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Carrier Seal</span>
      </div>
      <div class="content">
        <span>CN 1810645</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Cargo Weight</span>
      </div>
      <div class="content">
        <span>8112KG</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>VGM</span>
      </div>
      <div class="content">
        <span>8112KG</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Lasted Event</span>
      </div>
      <div class="content">
        <span>Estimated time</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Shanghai, China</span>
      </div>
      <div class="content">
        <span>2021-05-27</span>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
  <div class="container-detail">
    <div class="icon" style="color: red;font-size: 30px;width: 100px;float: left;position: relative;left: 15px">
      <i class="fa fa-cube" aria-hidden="true"></i>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>PONU8127580</span>
      </div>
      <div class="content">
        <span>40HQ</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Carrier Seal</span>
      </div>
      <div class="content">
        <span>CN 1810645</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Cargo Weight</span>
      </div>
      <div class="content">
        <span>8112KG</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>VGM</span>
      </div>
      <div class="content">
        <span>8112KG</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Lasted Event</span>
      </div>
      <div class="content">
        <span>Estimated time</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Shanghai, China</span>
      </div>
      <div class="content">
        <span>2021-05-27</span>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
  <div class="container-detail">
    <div class="icon" style="color: red;font-size: 30px;width: 100px;float: left;position: relative;left: 15px">
      <i class="fa fa-cube" aria-hidden="true"></i>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>PONU8127580</span>
      </div>
      <div class="content">
        <span>40HQ</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Carrier Seal</span>
      </div>
      <div class="content">
        <span>CN 1810645</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Cargo Weight</span>
      </div>
      <div class="content">
        <span>8112KG</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>VGM</span>
      </div>
      <div class="content">
        <span>8112KG</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Lasted Event</span>
      </div>
      <div class="content">
        <span>Estimated time</span>
      </div>
    </div>
    <div class="container-th">
      <div class="container-label">
        <span>Shanghai, China</span>
      </div>
      <div class="content">
        <span>2021-05-27</span>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
  <div style="clear: both"></div>
</div>
<div style="clear: both"></div>
