
<div class="uk-container">
<div class="uk-card uk-card-body">
  <div class="uk-placeholder uk-text-center">
    <span uk-icon="icon: cloud-upload"></span>


    <div uk-form-custom>
      <input type="file" (change)="selectFile($event)" multiple>
<!--      <button class="uk-button uk-button-default" type="button" tabindex="-1">Select a file</button>-->
    </div>

    <button class="uk-button uk-button-primary" [disabled]="!selected" (click)="upload()">Upload</button>
  </div>

</div>


</div>

